/** Part of Code By Webdevtrick ( https://webdevtrick.com ) **/
body {
	background: #fff;
	overflow: hidden;
	color: #313131; 
}

.container{
	position: absolute;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.sliders {
	position: absolute;
	float: none;
	left: 0vw;
	width: 10%;
  height:100%;
  padding:5px;
}
.singleSlider {
	width: 10px;
	padding: 0;
}
.slider {
	position: relative;
	width: 100px;
	transform-origin: 0 0;
}
label {
	position: relative;
	font-family: monospace;
	text-transform: uppercase;
}
.val {
	position: relative;
	display: block;
	font-family: monospace;
	height: 16px;
	width: 100%;
	text-align: right;
	visibility: hidden;
}
input[type="range"] {
	-webkit-appearance: none;
	background: transparent;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
}
input[type="range"]:focus {
	outline: none;
}
input[type="range"]::-ms-track {
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type="range"]::-webkit-slider-runnable-track {
	height: 3px;
	cursor: pointer;
	background: crimson;
	margin-top: 10px;
}
input[type="range"]::-webkit-slider-thumb {
	height: 15px;
	width: 15px;
	border-radius: 3px;
	background: #212121;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -9px;
}
 
input[type="range"]::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #fff;
}
input[type="range"]::-moz-range-thumb {
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: #212121;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -9px;
}
input[type="range"]::-ms-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #fff;
}
input[type="range"]::-ms-thumb {
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: #212121;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: 0px;
}


textarea:focus {
	outline: none;
}
select:focus {
	color: #000;
}

/* #preview{
	position: absolute;
	top: 60vh;
	left: -80%;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: crimson;
	text-transform: uppercase;
	transform: translate(-50%, 0);
	font-family: monospace;
	font-size: 1.5rem;
	cursor: pointer;
	color: #fff;
} */


/*Color Histogram*/

#histogram, #myImg {
  border: 1px solid #000;
  cursor: pointer;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

#myImg.thumb {
  max-width: 300px;
  max-height: 400px;
}

#histogram.thumb {
  max-width: 300px;
  max-height: 200px;
}


/* button {
    padding: 7px 36px;
    color: #fff;
    border-radius: 25px;
    display: inline-block;
    font-size: 16px !important;
    cursor: pointer;
    position: relative;
    background: hsl(200deg 85% 25%) !important;
    border: 2px solid transparent;
    box-shadow: 0px 4px 8px hsl(200deg 30% 70%);
    line-height: initial !important;
    min-width: 82px;
    text-transform: none;
    height: initial;
    font-weight: 400;
    letter-spacing: initial;
    text-shadow: none;
    transition: all 0.2s;
}

button:hover {
  background:#ffffff;
  color: hsl(200deg 85% 25%)
} */

#resetAll{
	position: absolute;
	top: 60vh;
	left: -50%;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: crimson;
	text-transform: uppercase;
	transform: translate(-50%, 0);
	font-family: monospace;
	font-size: 1.5rem;
	cursor: pointer;
	color: #fff;
}

/*Tabs*/

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  width:100%;
  height:90%;
  padding: 3px;
  border: 1px solid #cccccc;
  border-top: none;
}

.image {
	position: absolute;
	height: 100%;
	width: 85%;
  right:20px;
  top:10px;
	overflow: hidden;
}

video {
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

canvas{
  	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
  border:2px solid black;
}