/*====================================================//
// @Title: style.css
// @Description: main stylsheet for Microscope Image sliders
// @Author: Mphatso Simbao
//====================================================*/

/* Original CSS Slider Code base By Webdevtrick ( https://webdevtrick.com ) */

/*====================================================================================//
//============================Main Body and Container=================================//
//====================================================================================*/

body {
	background: #fff;
  overflow:hidden;
	color: #313131; 
  font-family:Arial;
}

.container{
	position: absolute;
  overflow:hidden;
	height: 100%;
	width: 100%;
}


/*====================================================================================//
//================================Splash Screen   ====================================//
//====================================================================================*/

#splashScreen{
  position:absolute;
  width:100%;
  height:100%;
  background:white;
  left:0;
  right:0;
  top:0;
  z-index:3;
}

.splashSection{
  text-align:center;
  padding:50px;
  padding-top:200px;
}

.splashButton{
  border:none;
  border-radius:10px;
  
}
/*====================================================================================//
//================================Video and Canvas====================================//
//====================================================================================*/

.image {
	position: absolute;
	height: 100%;
	width: 85%;
  right:20px;
  top:10px;
	overflow: hidden;
}

#video {
	top: 0%;
	left: 0%;
	width: 1024px;
	height: 768px;
}

#canvas{
  top: 0%;
	left: 0%;
	width: 1024px;
	height: 768px;
}


/*====================================================================================//
//=====================================Sliders Text===================================//
//====================================================================================*/

.sliders {
	position: absolute;
	float: none;
	left: 0vw;
	width: 10%;
  height:100%;
  padding:5px;
  padding-top:70px;
  padding-left:20px;
}
.singleSlider {
  margin-top:5px;
	width: 10px;
	padding: 2px;
/*   border:1px solid grey; */
}
.slider {
	position: relative;
	width: 80px;
	transform-origin: 0 0;
}
label {
	position: relative;
	font-family: monospace;
	text-transform: uppercase;
  font-size:12px;
}
.val {
	position: relative;
	display: block;
	font-family: monospace;
	height: 16px;
	width: 100%;
	text-align: left;
  color:#aaa;
  font-size:12px;
/* 	visibility: hidden; */
}


/* Style the buttons inside the tab */
#resetAll {
  background-color: #f1f1f1;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin:10px 10px 10px 0px;
}

/* Change background color of buttons on hover */
#resetAll:hover {
  background-color: #ddd;
}

/*====================================================================================//
//===================================Sliders Tracks===================================//
//====================================================================================*/

input[type="range"] {
	-webkit-appearance: none;
	background: transparent;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
}
input[type="range"]:focus {
	outline: none;
}
input[type="range"]::-ms-track {
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type="range"]::-webkit-slider-runnable-track {
	height: 3px;
	cursor: pointer;
	background: crimson;
	margin-top: 10px;
}
input[type="range"]::-webkit-slider-thumb {
	height: 15px;
	width: 15px;
	border-radius: 3px;
	background: #212121;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -9px;
}
 
input[type="range"]::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #fff;
}
input[type="range"]::-moz-range-thumb {
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: #212121;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -9px;
}
input[type="range"]::-ms-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #fff;
}
input[type="range"]::-ms-thumb {
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: #212121;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: 0px;
}


textarea:focus {
	outline: none;
}
select:focus {
	color: #000;
}


/*====================================================================================//
//==================================Color Histogram===================================//
//====================================================================================*/

#histogram, #myImg {
  border: 1px solid #000;
  cursor: pointer;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

#myImg.thumb {
  max-width: 300px;
  max-height: 400px;
}

#histogram.thumb {
  max-width: 300px;
  max-height: 200px;
}




/*====================================================================================//
//========================================Tabs========================================//
//====================================================================================*/

/* Style the tab */
.tab {
/*   border: 1px solid #ccc; */
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  overflow:hidden;
  display: none;
  width:100%;
  height:90%;
  padding: 3px;
/*   border: 1px solid #cccccc; */
  border-top: none;
}


